html {
    height: 100%;
}

body {
    background-color: rgb(200, 200, 200);
    height: 100%;
}

#space {
    height: 100px;
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 54px;
}

#main_panel {
    background-color: rgb(255, 255, 255);
    margin: -8px auto;
    width: 60%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#context_of_care {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#context_selections {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

#output {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}